services:
  web:
    build:
      context: .
      dockerfile: ./web/Dockerfile.dev
    container_name: web
    volumes:
      - ./web:/app/web
    env_file:
      - ./.env
    ports:
      - "${FASTAPI_PORT:-8000}:8000"
    depends_on:
      - postgres
      - rabbitmq
      - minio

  worker:
    build:
      context: .
      dockerfile: ./worker/Dockerfile.dev
    container_name: worker
    volumes:
      - ./worker:/app/worker
    env_file:
      - ./.env
    depends_on:
      - postgres
      - rabbitmq
      - minio

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: ${DATABASE__USER}
      POSTGRES_PASSWORD: ${DATABASE__PASSWORD}
      POSTGRES_DB: ${DATABASE__NAME}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin_container
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin_password
    ports:
      - "8080:80"
    depends_on:
      - postgres
    volumes:
      - "./pgadmin_data:/var/lib/pgadmin"

  rabbitmq:
    image: rabbitmq:3.10-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${MESSAGE_BROKER__USER}
      RABBITMQ_DEFAULT_PASS: ${MESSAGE_BROKER__PASSWORD}
    ports:
      - "5672:5672"
      - "15672:15672"

  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: ${MINIO__ADMIN_USER}
      MINIO_ROOT_PASSWORD: ${MINIO__ADMIN_PASSWORD}
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
