services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: web
    env_file:
      - ./.env
    ports:
      - "${FASTAPI_PORT:-8000}:8000"
    depends_on:
      - postgres
      - rabbitmq
      - minio
    command: [ "sh", "-c", "while true; do echo 'web container is running'; sleep 5; done" ]

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: worker
    env_file:
      - ./.env
    depends_on:
      - postgres
      - rabbitmq
      - minio
    command: [ "sh", "-c", "while true; do echo 'worker container is running'; sleep 5; done" ]

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"

  rabbitmq:
    image: rabbitmq:3.10-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "5672:5672"
      - "15672:15672"

  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
